/* General Buttons */
.commonbutton {
    width: 160px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;

    /* Just for presentation */
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.commonbutton:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}

.commonbutton:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

/* Button pointing left */

.commonbutton.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
}
.commonbutton.back:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid transparent;
    border-left: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;
}

.commonbutton2 {
    width: 120px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;

    /* Just for presentation */
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.commonbutton2:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}

.commonbutton2:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}



/* Presentation stuff */
.holder {
    width: 400px;
    background: #efefef;
    padding: 30px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}



.btn {
    display: block;
    position: relative;
    background: #aaa;
    padding: 5px;
    float: left;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.btn * {
    font-style: normal;
    background-image: url(btn2.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.btn i {
    background-position: top left;
    position: absolute;
    margin-bottom: -5px;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
}

.btn span {
    background-position: bottom left;
    left: -5px;
    padding: 0 0 5px 10px;
    margin-bottom: -5px;
}

.btn span i {
    background-position: bottom right;
    margin-bottom: 0;
    position: absolute;
    left: 100%;
    width: 10px;
    height: 100%;
    top: 0;
}

.btn span span {
    background-position: top right;
    position: absolute;
    right: -10px;
    margin-left: 10px;
    top: -5px;
    height: 0;
}

* html .btn span,
* html .btn i {
    float: left;
    width: auto;
    background-image: none;
    cursor: pointer;
}

.btn.blue {
    background: #2ae;
}

.btn.green {
    background: #9d4;
}

.btn.pink {
    background: #e1a;
}

.btn:hover {
    background-color: #a00;
}

.btn:active {
    background-color: #444;
}

.btn[class] {
    background-image: url(shade.png);
    background-position: bottom;
}

* html .btn {
    border: 3px double #aaa;
}

* html .btn.blue {
    border-color: #2ae;
}

* html .btn.green {
    border-color: #9d4;
}

* html .btn.pink {
    border-color: #e1a;
}

* html .btn:hover {
    border-color: #a00;
}

p {
    clear: both;
    padding-bottom: 2em;
}

form {
    margin-top: 2em;
}

form p .btn {
    margin-right: 1em;
}

textarea {
    margin: 1em 0;
}